<% spotlight = @works.media_spotlight %>

<h2>Media Spotlight: <%= link_to spotlight.title, work_path(spotlight) %> by <%= spotlight.creator %><h2>

<h2>Top Books</h2>
<% @books.top_ten_books.each do |work| %>
    <ul>
        <h4><%= link_to work.title, work_path(work) %> by <%= work.title %></h4>
    </ul>
<% end %>