<section>
  <h2>
    <span>Media Spotlight: </span>
    <a class="spotlight"><%= link_to work.title, work_path(work), :class => 'spotlight' %></a> by <%= work.creator %>
  </h2>
  <p>
    <%= work.votes.length %> votes - <%= work.description %>
  </p>
</section>
<hr>