<h2>Top <%= category.capitalize %></h2>
<% if top_works%>
  <% top_works.each do |work| %>
  <ul>
    <li><h4><%= link_to work.title, work_path(work.id)%><small> by <%= work.creator %></small> </h4><p><%= work.votes.length %> votes</p></li>
  </ul>
  <% end %>
<% end %>