<!--Html Outline from Inspector. Now Generalize-->

<!--Media Spotlight Banner at Top-->
<main>
  <section class="spotlight">
    <h2 class="spotlight__header">
      <span class="spotlight__header--prefix">Media Spotlight</span>
      <% spotlit_work = Work.spotlight %>
      <%= link_to spotlit_work.title, work_path(spotlit_work.id), class: "spotlight__link-to" %> by <%= spotlit_work.creator %>
    </h2>
    <p class="spotlight__description">
      <%= spotlit_work.description %>
    </p>

  <hr class="root__hr">

<!--  Table for Top Movies, Top Books & Top Albums-->
  <section class="top-ten__container">
    <section class="top-ten__list-container">
      <h2 class="top-ten__header">
        Top Movies
      </h2>
      <ul class="list-group top-ten__list">
<!--        Examples of how the top works are listed. Alter to call on custom model method-->
        <li class="list-group-item">
          <h4>
            <a href="/works/913">We're Doomed....</a>
            <small class="top-ten__creator">by Doomed</small>
          </h4>
          <p>15 votes</p>
        </li>
        <li class="list-group-item">
          <h4>
            <a href="/works/930">Don't Panic</a>
            <small class="top-ten__creator">by Rubén Galindo Jr.</small>
          </h4>
          <p>4 votes</p>
        </li>
      </ul>
    </section>

    <section class="top-ten__list-container">
      <h2 class="top-ten__header">
        Top Books
      </h2>
      <ul class="list-group top-ten__list">
        <!--        Examples of how the top works are listed. Alter to call on custom model method-->
        <li class="list-group-item">
          <h4>
            <a href="/works/746">What a girl wants</a>
            <small class="top-ten__creator">by Amanda Bynes</small>
          </h4>
          <p>6 votes</p>
        </li>
        <li class="list-group-item">
          <h4>
            <a href="/works/807">The Life-Changing Magic of Tidying Up</a>
            <small class="top-ten__creator">by Marie Kondo</small>
          </h4>
          <p>3 votes</p>
        </li>
      </ul>
    </section>

    <section class="top-ten__list-container">
      <h2 class="top-ten__header">
        Top Albums
      </h2>
      <ul class="list-group top-ten__list">
        <!--        Examples of how the top works are listed. Alter to call on custom model method-->
        <li class="list-group-item">
          <h4>
            <a href="/works/797">College Park is Always Ready to Partayyy</a>
            <small class="top-ten__creator">by Mirah Yom Tov Zeitlyn</small>
          </h4>
          <p>12 votes</p>
        </li>
        <li class="list-group-item">
          <h4>
            <a href="/works/798">You Think It's Like This But Really It's Like This</a>
            <small class="top-ten__creator">by Mirah</small>
          </h4>
          <p>7 votes</p>
        </li>
      </ul>
    </section>
  </section>
</main>