<!DOCTYPE html>
<html>
<head>
  <title>Media Ranker 2.0</title>
  <link rel="shortcut icon" type="image/x-icon" href="/images/favicon.ico">
  <link rel="shortcut icon" href="/favicon.ico">
</head>
<body>
<header class="app-header__header">
  <h1>
    <a href="index.html">Media Ranker</a>
    <small>Ranking the Best of Everything</small>
  </h1>
  <nav class="app-header__nav">
    <ul class="nav app-header__site-nav-container">
      <li class="nav-item app-header__nav_item">
        <a class="nav-link" href="index.html">View top media</a>
      </li>
      <li class="nav-item app-header__nav_item">
        <a class="nav-link" href="works.html">View all media</a>
      </li>
      <li class="nav-item app-header__nav_item">
        <a class="nav-link" href="works/new.html">Add a new work</a>
      </li>
      <li class="nav-item app-header__nav_item">
        <a class="nav-link" href="users.html">View all users</a>
      </li>
    </ul>
    <ul class="nav app-header__user-nav-container">

      <li class="nav-item app-header__nav_item">
        <a class="btn btn-primary" href="login.html">Log In</a>
      </li>
    </ul>
  </nav>
</header>

<main>
  <section class="spotlight">
    <h2 class="spotlight__header">
      <span class="spotlight__header--prefix">Media Spotlight</span>
      <a class="spotlight__link-to" href="works/605.html"><%=@spotlight.description%></a> <br>
      by: <%= @spotlight.description%>
    </h2>
    <p class="spotlight__description">
     <strong><%= @spotlight.description%></strong>
    </p>
  </section>

  <hr class="root__hr" />
  <section class="top-ten__container">
    <section class="top-ten__list-container">
      <h2 class="top-ten__header">
        Top Movies
      </h2>
    </section>

      <section class="top-ten__list-container">
        <h2 class="top-ten__header">
          Top Books
        </h2>
      </section>

        <section class="top-ten__list-container">
          <h2 class="top-ten__header">
            Top Albums
          </h2>
        </section>
  </section>
</main>
</body>
</html>
