
<main>
  <section class="spotlight">
    <h2 class="spotlight__header">
      <span class="spotlight__header--prefix">Media Spotlight: <%= link_to Work.first.title, work_path(1) %></span>
        </h2>
    <p class="spotlight__description">
    </p>
  </section>
</main>

  <div class="container">
  <div class="row">
    <div class="col-sm">
      Books
    <div>LIST</div>
    </div>
    <div class="col-sm">
      Movies
    </div>
    <div class="col-sm">
     Albums
    </div>
  </div>
</div>