<div class="container">
  <div class="row">
    <div class="col-sm">
      Books
    <div>LIST</div>
    </div>
    <div class="col-sm">
      Movies
    </div>
    <div class="col-sm">
     Albums
    </div>
  </div>
</div>