<%# do i also need the body/header? those are in the application.html.erb file? %>
<main>
  <section class="spotlight">
    <h2 class="spotlight-header">
      <%# link_to "#{album.title}", work_path(album.id)%>
      <span>Media Spotlight: <%= link_to %></span>
    </h2>

  </section>

</main>