<section class="homepage">
  <article class="hp-spotlight">  
    <h2>Media Spotlight: a popular work here</h2>
    <div>
      <p>its votes</p>
    </div>
    <div>
      <p>its description</p>
    </div>
  </article>
  <article class="hp-top10">
    <div class="hp-movie">
      <h2>Top Movies</h2>
    </div>
    <div class="hp-book">
      <h2>Top Books</h2>
    </div>
    <div class="hp-album">
      <h2>Top Albums</h2>
    </div>
  </article>  
</section>