<main>
  <section class="spotlight">
    <h2 class="spotlight__header">
      <span class="spotlight__header--prefix">🔦Media Spotlight:</span>
      <%= link_to "#{@media_spotlight[0].title} by #{@media_spotlight[0].creator}", root_path, class: "spotlight__link-to" %>
    </h2>
    <p class="spotlight__description">
      13 votes - #hoot - need to update this
    </p>
  </section>
  <hr class="root__hr">
  <section class="top-ten__container">

    <%# MOVIES %>
    <section class="top-ten__list-container">
      <h2 class="top-ten__header">
        Top Movies 🎥
      </h2>
      <%= render partial: 'spotlight', locals: {media: @top_10_movies} %>
    </section>

    <%# BOOKS %>
    <section class="top-ten__list-container">
      <h2 class="top-ten__header">
        Top Books 📚
      </h2>
      <%= render partial: 'spotlight', locals: {media: @top_10_books} %>
    </section>

    <%# ALBUMS %>
    <section class="top-ten__list-container">
      <h2 class="top-ten__header">
        Top Albums 🎧
      </h2>
      <%= render partial: 'spotlight', locals: {media: @top_10_albums} %>
    </section>
  </section>
</main>