<%= render partial: "spotlight" %>


<section class="top-ten__container">

  <%= render partial: "top_10", locals: { category: "Movies", works: @movies } %>

  <%= render partial: "top_10", locals: { category: "Books", works: @books } %>

  <%= render partial: "top_10", locals: { category: "Albums", works: @albums } %>

</section>