<section>
  <h4 class="work-category-header">Albums</h4>
  <table class="table">
    <thead>
      <tr>
        <th width="80">Votes</th>
        <th>Title</th>
        <th>Created By</th>
        <th width="100">Published</th>
        <th width="100">Upvote</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>0</td>
        <td><a href="/works/752">What a Girl Wants</a></td>
        <td>Some User</td>
        <td>2020</td>
        <td><a class="btn btn-primary" rel="nofollow" data-method="post" href="/works/752/upvote">Upvote</a></td>
      </tr>
      <tr>
        <td>0</td>
        <td><a href="/works/664">Resist</a></td>
        <td>Some User</td>
        <td>1994</td>
        <td><a class="btn btn-primary" rel="nofollow" data-method="post" href="/works/664/upvote">Upvote</a></td>
      </tr>
      <tr>
        <td>0</td>
        <td><a href="/works/693">Back to the Future</a></td>
        <td>Some User</td>
        <td>2005</td>
        <td><a class="btn btn-primary" rel="nofollow" data-method="post" href="/works/693/upvote">Upvote</a></td>
      </tr>
    </tbody>
  </table>
</section>