
<ul class="list-group top-ten-list">
  <% category.each do |work| %>
    <li>

      <h4>
        <%= link_to work.title, work_path(work.id) %>
        <small class="top-ten-creator">by <%= work.creator %></small>
      </h4>
      <p><%= link_to work.votes.count %> votes</p>
    </li>
  <% end %>
</ul>