<% if @work.errors.any? %>
  <section class="alert__container">
    <span>A problem occured: Could not update album</span>
    <ul>
      <% @work.errors.each do |column, message| %>
        <div class="alert alert-warning">
          <li>
            <%= column.capitalize %> <%= message %>
          </li>
        </div>
      <% end %>
    </ul>
  </section>
<% end %>


<h2>Edit This <%= "#{@work.category}" %></h2>

<%= render partial: "form", locals: { action_name: "Update" } %>