<section class = "main-content">
  <%= render partial: "layouts/form",
             locals: { action_name: 'Create A New Work',
                       this_model: @work,
                       title_placeholder: 'Title',
                       creator_placeholder: 'Creator',
                       description_placeholder: 'Description',
                       selected_category: VALID_CATEGORIES.first,
                       publication_year_placeholder: 'Year',
                       button_title: 'Click to SAVE' } %>
</section>