

<h2>List of Works</h2>
<section class="media-table">

  <h4>Albums</h4>
  <%= render partial: "list_works", locals: {category: @albums} %>
</section>

<section class="media-table">
  <h4>Books</h4>
  <%= render partial: "list_works", locals: {category: @books} %>
</section>

<section>
  <h4>Movies</h4>
  <%= render partial: "list_works", locals: {category: @movies} %>
</section>

