<main>
  <h2>List of Works</h2>

  <section class="media-table">
    <% if @albums.length > 0 %>
      <h4>Albums</h4>
      <%= render partial: 'list_media', locals: { media: @albums } %>
    <% else %>
      <h4>No Albums Found!</h4>
    <% end %>

    <% if @books.length > 0 %>
      <h4>Books</h4>
      <%= render partial: 'list_media', locals: { media: @books } %>
    <% else %>
      <h4>No Books Found!</h4>
    <% end %>

    <% if @movies.length > 0 %>
      <h4>Movies</h4>
      <%= render partial: 'list_media', locals: { media: @movies} %>
    <% else %>
      <h4>No Movies Found!</h4>
    <% end %>

  </section>

<%# TODO: change buttons/update to embedded ruby %>
  <a class="btn btn-secondary" href="/">View top media</a>
  <a class="btn btn-primary" href="/works/new">Add a new work</a>

</main>