<h2>List of Works</h2>
<%= render partial: 'table', locals: { :works => Work.get_top_ten('movie'), :category => 'Movies' } %>
<%= render partial: 'table', locals: { :works => Work.get_top_ten('book'), :category => 'Books' } %>
<%= render partial: 'table', locals: { :works => Work.get_top_ten('album'), :category => 'Albums' } %>
