<h2>List of Works</h2>

<div>
  <ul>
    <% @works.each do |work|  %>
      <li>
        <%= link_to work.title, work_path(work.id) %>
        <%= work.creator%>
        <%= work.publication_year %>
        <%= link_to "Upvote", work_votes_path(work.id), method: :post, class: "btn btn-primary" %>
      </li>
    <% end %>
  </ul>
</div>