<h2>Works Index</h2>

<%= render partial: "table", locals: { media: @books, name: "Book"} %>
<%= render partial: "table", locals: { media: @albums, name: "Album"} %>
<%= render partial: "table", locals: { media: @movies, name: "Movie"} %>


