
<main>
  <h2>List of Works</h2>

  <section class="media-table">
    <% %>
    <h4>Albums</h4>
    <table class="table">
      <thead>
      <tr>
        <th width="80">Votes</th>
        <th>Title</th>
        <th>Created By</th>
        <th width="100">Published</th>
        <th width="100">Upvote</th>
      </tr>
      </thead>
      <tbody>
      <tr>
        <td>4</td>
        <td><a href="/works/859">miss vanjie</a></td>
        <td>miss VANJIE</td>
        <td></td>
        <td><a class="btn btn-primary" rel="nofollow" data-method="post" href="/works/859/upvote">Upvote</a></td>
      </tr>
      <tr>
        <td>2</td>
        <td><a href="/works/709">Just Checking</a></td>
        <td></td>
        <td></td>
        <td><a class="btn btn-primary" rel="nofollow" data-method="post" href="/works/709/upvote">Upvote</a></td>
      </tr>
      <tr>
        <td>1</td>
        <td><a href="/works/753">Seamonster</a></td>
        <td></td>
        <td></td>
        <td><a class="btn btn-primary" rel="nofollow" data-method="post" href="/works/753/upvote">Upvote</a></td>
      </tr>
      <tr>
        <td>1</td>
        <td><a href="/works/838">groovy tunes</a></td>
        <td>groove-master</td>
        <td>2020</td>
        <td><a class="btn btn-primary" rel="nofollow" data-method="post" href="/works/838/upvote">Upvote</a></td>
      </tr>
      <tr>
        <td>1</td>
        <td><a href="/works/735">my awesome stuff</a></td>
        <td>fa</td>
        <td></td>
        <td><a class="btn btn-primary" rel="nofollow" data-method="post" href="/works/735/upvote">Upvote</a></td>
      </tr>
      <tr>
        <td>1</td>
        <td><a href="/works/835">Be the Cowboy</a></td>
        <td>Mitski</td>
        <td>2018</td>
        <td><a class="btn btn-primary" rel="nofollow" data-method="post" href="/works/835/upvote">Upvote</a></td>
      </tr>
      <tr>
        <td>1</td>
        <td><a href="/works/797">College Park is Always Ready to Party</a></td>
        <td>Mirah Yom Tov Zeitlyn</td>
        <td>2003</td>
        <td><a class="btn btn-primary" rel="nofollow" data-method="post" href="/works/797/upvote">Upvote</a></td>
      </tr>
      <tr>
        <td>1</td>
        <td><a href="/works/825">ffffff</a></td>
        <td></td>
        <td></td>
        <td><a class="btn btn-primary" rel="nofollow" data-method="post" href="/works/825/upvote">Upvote</a></td>
      </tr>
      <tr>
        <td>1</td>
        <td><a href="/works/755">East of Eden</a></td>
        <td></td>
        <td></td>
        <td><a class="btn btn-primary" rel="nofollow" data-method="post" href="/works/755/upvote">Upvote</a></td>
      </tr>
      <tr>
        <td>0</td>
        <td><a href="/works/680">Kreb-Full-o Been !</a></td>
        <td>jj</td>
        <td>44</td>
        <td><a class="btn btn-primary" rel="nofollow" data-method="post" href="/works/680/upvote">Upvote</a></td>
      </tr>
      <tr>
        <td>0</td>
        <td><a href="/works/752">What a girl wants</a></td>
        <td></td>
        <td></td>
        <td><a class="btn btn-primary" rel="nofollow" data-method="post" href="/works/752/upvote">Upvote</a></td>
      </tr>
      <tr>
        <td>0</td>
        <td><a href="/works/664">Resist</a></td>
        <td></td>
        <td>0</td>
        <td><a class="btn btn-primary" rel="nofollow" data-method="post" href="/works/664/upvote">Upvote</a></td>
      </tr>
      <tr>
        <td>0</td>
        <td><a href="/works/693">Back to the Future</a></td>
        <td></td>
        <td></td>
        <td><a class="btn btn-primary" rel="nofollow" data-method="post" href="/works/693/upvote">Upvote</a></td>
      </tr>
      <tr>
        <td>0</td>
        <td><a href="/works/708">Harry Potter 2</a></td>
        <td></td>
        <td></td>
        <td><a class="btn btn-primary" rel="nofollow" data-method="post" href="/works/708/upvote">Upvote</a></td>
      </tr>
      <tr>
        <td>0</td>
        <td><a href="/works/713">Major Cup!</a></td>
        <td></td>
        <td></td>
        <td><a class="btn btn-primary" rel="nofollow" data-method="post" href="/works/713/upvote">Upvote</a></td>
      </tr>
      <tr>
        <td>0</td>
        <td><a href="/works/710">The New Abnormal</a></td>
        <td>The Strokes</td>
        <td>2020</td>
        <td><a class="btn btn-primary" rel="nofollow" data-method="post" href="/works/710/upvote">Upvote</a></td>
      </tr>
      <tr>
        <td>0</td>
        <td><a href="/works/718">wormssss</a></td>
        <td>nena</td>
        <td>2020</td>
        <td><a class="btn btn-primary" rel="nofollow" data-method="post" href="/works/718/upvote">Upvote</a></td>
      </tr>
      <tr>
        <td>0</td>
        <td><a href="/works/740">Harry Potter and the Sorcerer's Stone</a></td>
        <td></td>
        <td></td>
        <td><a class="btn btn-primary" rel="nofollow" data-method="post" href="/works/740/upvote">Upvote</a></td>
      </tr>
      <tr>
        <td>0</td>
        <td><a href="/works/743">temp2</a></td>
        <td></td>
        <td>0</td>
        <td><a class="btn btn-primary" rel="nofollow" data-method="post" href="/works/743/upvote">Upvote</a></td>
      </tr>
      <tr>
        <td>0</td>
        <td><a href="/works/808">19</a></td>
        <td></td>
        <td></td>
        <td><a class="btn btn-primary" rel="nofollow" data-method="post" href="/works/808/upvote">Upvote</a></td>
      </tr>
      <tr>
        <td>0</td>
        <td><a href="/works/843">test book</a></td>
        <td></td>
        <td></td>
        <td><a class="btn btn-primary" rel="nofollow" data-method="post" href="/works/843/upvote">Upvote</a></td>
      </tr>
      <tr>
        <td>0</td>
        <td><a href="/works/822">test this again</a></td>
        <td></td>
        <td></td>
        <td><a class="btn btn-primary" rel="nofollow" data-method="post" href="/works/822/upvote">Upvote</a></td>
      </tr>
      <tr>
        <td>0</td>
        <td><a href="/works/802">hello</a></td>
        <td></td>
        <td></td>
        <td><a class="btn btn-primary" rel="nofollow" data-method="post" href="/works/802/upvote">Upvote</a></td>
      </tr>
      <tr>
        <td>0</td>
        <td><a href="/works/833">hello world</a></td>
        <td></td>
        <td></td>
        <td><a class="btn btn-primary" rel="nofollow" data-method="post" href="/works/833/upvote">Upvote</a></td>
      </tr>
      <tr>
        <td>0</td>
        <td><a href="/works/569">Blue Breaker</a></td>
        <td>Dr. Sarai Langosh</td>
        <td>1949</td>
        <td><a class="btn btn-primary" rel="nofollow" data-method="post" href="/works/569/upvote">Upvote</a></td>
      </tr>
      <tr>
        <td>0</td>
        <td><a href="/works/846">-</a></td>
        <td></td>
        <td></td>
        <td><a class="btn btn-primary" rel="nofollow" data-method="post" href="/works/846/upvote">Upvote</a></td>
      </tr>
      <tr>
        <td>0</td>
        <td><a href="/works/812">tooot</a></td>
        <td>toot</td>
        <td>2020</td>
        <td><a class="btn btn-primary" rel="nofollow" data-method="post" href="/works/812/upvote">Upvote</a></td>
      </tr>
      <tr>
        <td>0</td>
        <td><a href="/works/823">title</a></td>
        <td></td>
        <td></td>
        <td><a class="btn btn-primary" rel="nofollow" data-method="post" href="/works/823/upvote">Upvote</a></td>
      </tr>
      <tr>
        <td>0</td>
        <td><a href="/works/861">Lemonade</a></td>
        <td>Beyonce</td>
        <td>2016</td>
        <td><a class="btn btn-primary" rel="nofollow" data-method="post" href="/works/861/upvote">Upvote</a></td>
      </tr>
      <tr>
        <td>0</td>
        <td><a href="/works/786">New album</a></td>
        <td>me</td>
        <td>0</td>
        <td><a class="btn btn-primary" rel="nofollow" data-method="post" href="/works/786/upvote">Upvote</a></td>
      </tr>
      <tr>
        <td>0</td>
        <td><a href="/works/863">The White Album</a></td>
        <td></td>
        <td></td>
        <td><a class="btn btn-primary" rel="nofollow" data-method="post" href="/works/863/upvote">Upvote</a></td>
      </tr>
      <tr>
        <td>0</td>
        <td><a href="/works/803">shibas are cool</a></td>
        <td></td>
        <td>123423</td>
        <td><a class="btn btn-primary" rel="nofollow" data-method="post" href="/works/803/upvote">Upvote</a></td>
      </tr>
      <tr>
        <td>0</td>
        <td><a href="/works/850">TAKE </a></td>
        <td>ON</td>
        <td></td>
        <td><a class="btn btn-primary" rel="nofollow" data-method="post" href="/works/850/upvote">Upvote</a></td>
      </tr>
      <tr>
        <td>0</td>
        <td><a href="/works/756">test</a></td>
        <td>me</td>
        <td>2000</td>
        <td><a class="btn btn-primary" rel="nofollow" data-method="post" href="/works/756/upvote">Upvote</a></td>
      </tr>
      <tr>
        <td>0</td>
        <td><a href="/works/864">I Am... Sasha Fierce</a></td>
        <td>Beyonce</td>
        <td>2008</td>
        <td><a class="btn btn-primary" rel="nofollow" data-method="post" href="/works/864/upvote">Upvote</a></td>
      </tr>
      <tr>
        <td>0</td>
        <td><a href="/works/745">The Wall</a></td>
        <td>Pink Floyd</td>
        <td>1979</td>
        <td><a class="btn btn-primary" rel="nofollow" data-method="post" href="/works/745/upvote">Upvote</a></td>
      </tr>
      <tr>
        <td>0</td>
        <td><a href="/works/773">X</a></td>
        <td></td>
        <td></td>
        <td><a class="btn btn-primary" rel="nofollow" data-method="post" href="/works/773/upvote">Upvote</a></td>
      </tr>
      <tr>
        <td>0</td>
        <td><a href="/works/834">what a sunny day</a></td>
        <td></td>
        <td></td>
        <td><a class="btn btn-primary" rel="nofollow" data-method="post" href="/works/834/upvote">Upvote</a></td>
      </tr>
      <tr>
        <td>0</td>
        <td><a href="/works/572">Wake-up Pie</a></td>
        <td>Timmy Streich I</td>
        <td>1919</td>
        <td><a class="btn btn-primary" rel="nofollow" data-method="post" href="/works/572/upvote">Upvote</a></td>
      </tr>
      <tr>
        <td>0</td>
        <td><a href="/works/865">saegae</a></td>
        <td>a person</td>
        <td>0</td>
        <td><a class="btn btn-primary" rel="nofollow" data-method="post" href="/works/865/upvote">Upvote</a></td>
      </tr>
      <tr>
        <td>0</td>
        <td><a href="/works/758">I'm not even logged in muahahhaa</a></td>
        <td></td>
        <td></td>
        <td><a class="btn btn-primary" rel="nofollow" data-method="post" href="/works/758/upvote">Upvote</a></td>
      </tr>
      <tr>
        <td>0</td>
        <td><a href="/works/798">You Think It's Like This But Really It's Like This</a></td>
        <td>Mirah</td>
        <td>2000</td>
        <td><a class="btn btn-primary" rel="nofollow" data-method="post" href="/works/798/upvote">Upvote</a></td>
      </tr>
      <tr>
        <td>0</td>
        <td><a href="/works/685">Harry Potter and the Goblet of Fire</a></td>
        <td></td>
        <td></td>
        <td><a class="btn btn-primary" rel="nofollow" data-method="post" href="/works/685/upvote">Upvote</a></td>
      </tr>
      <tr>
        <td>0</td>
        <td><a href="/works/707">Take Care</a></td>
        <td>Drake</td>
        <td>2011</td>
        <td><a class="btn btn-primary" rel="nofollow" data-method="post" href="/works/707/upvote">Upvote</a></td>
      </tr>
      <tr>
        <td>0</td>
        <td><a href="/works/830">Howl's Moving Castle</a></td>
        <td></td>
        <td></td>
        <td><a class="btn btn-primary" rel="nofollow" data-method="post" href="/works/830/upvote">Upvote</a></td>
      </tr>
      <tr>
        <td>0</td>
        <td><a href="/works/770">Heroes</a></td>
        <td>David Bowie</td>
        <td>1977</td>
        <td><a class="btn btn-primary" rel="nofollow" data-method="post" href="/works/770/upvote">Upvote</a></td>
      </tr>
      </tbody>
    </table>
  </section>
  <section class="media-table">
    <h4>Books</h4>
    <table class="table">
      <thead>
      <tr>
        <th width="80">Votes</th>
        <th>Title</th>
        <th>Created By</th>
        <th width="100">Published</th>
        <th width="100">Upvote</th>
      </tr>
      </thead>
      <tbody>
      <tr>
        <td>1</td>
        <td><a href="/works/814">Practical Magic</a></td>
        <td>Alice Hoffman</td>
        <td>1995</td>
        <td><a class="btn btn-primary" rel="nofollow" data-method="post" href="/works/814/upvote">Upvote</a></td>
      </tr>
      <tr>
        <td>1</td>
        <td><a href="/works/701">AZUL</a></td>
        <td>Zoe</td>
        <td>2019</td>
        <td><a class="btn btn-primary" rel="nofollow" data-method="post" href="/works/701/upvote">Upvote</a></td>
      </tr>
      <tr>
        <td>1</td>
        <td><a href="/works/824">Cinder Spires</a></td>
        <td>Jim Butcher</td>
        <td></td>
        <td><a class="btn btn-primary" rel="nofollow" data-method="post" href="/works/824/upvote">Upvote</a></td>
      </tr>
      <tr>
        <td>1</td>
        <td><a href="/works/653">The Little Prince</a></td>
        <td>Antoine de Saint-Exupery</td>
        <td>1943</td>
        <td><a class="btn btn-primary" rel="nofollow" data-method="post" href="/works/653/upvote">Upvote</a></td>
      </tr>
      <tr>
        <td>1</td>
        <td><a href="/works/776">???</a></td>
        <td></td>
        <td></td>
        <td><a class="btn btn-primary" rel="nofollow" data-method="post" href="/works/776/upvote">Upvote</a></td>
      </tr>
      <tr>
        <td>1</td>
        <td><a href="/works/570">Joe Treat</a></td>
        <td>Blaise Lesch</td>
        <td>1968</td>
        <td><a class="btn btn-primary" rel="nofollow" data-method="post" href="/works/570/upvote">Upvote</a></td>
      </tr>
      <tr>
        <td>1</td>
        <td><a href="/works/796">Story of the Eye</a></td>
        <td>Georges Bataille</td>
        <td>1928</td>
        <td><a class="btn btn-primary" rel="nofollow" data-method="post" href="/works/796/upvote">Upvote</a></td>
      </tr>
      <tr>
        <td>1</td>
        <td><a href="/works/804">Mitsubachi to Enrai </a></td>
        <td>Riku Onda</td>
        <td>2016</td>
        <td><a class="btn btn-primary" rel="nofollow" data-method="post" href="/works/804/upvote">Upvote</a></td>
      </tr>
      <tr>
        <td>0</td>
        <td><a href="/works/598">Ender's Game</a></td>
        <td>Orson Scott Card</td>
        <td>0</td>
        <td><a class="btn btn-primary" rel="nofollow" data-method="post" href="/works/598/upvote">Upvote</a></td>
      </tr>
      <tr>
        <td>0</td>
        <td><a href="/works/692">Major Cup</a></td>
        <td></td>
        <td></td>
        <td><a class="btn btn-primary" rel="nofollow" data-method="post" href="/works/692/upvote">Upvote</a></td>
      </tr>
      <tr>
        <td>0</td>
        <td><a href="/works/585">Blacktop Enlightenment</a></td>
        <td>Seamus D'Amore</td>
        <td>1928</td>
        <td><a class="btn btn-primary" rel="nofollow" data-method="post" href="/works/585/upvote">Upvote</a></td>
      </tr>
      <tr>
        <td>0</td>
        <td><a href="/works/581">Melty Breaker</a></td>
        <td>Montana Dickinson Sr.</td>
        <td>1991</td>
        <td><a class="btn btn-primary" rel="nofollow" data-method="post" href="/works/581/upvote">Upvote</a></td>
      </tr>
      <tr>
        <td>0</td>
        <td><a href="/works/722">Winnie the Pooh</a></td>
        <td></td>
        <td></td>
        <td><a class="btn btn-primary" rel="nofollow" data-method="post" href="/works/722/upvote">Upvote</a></td>
      </tr>
      <tr>
        <td>0</td>
        <td><a href="/works/742">temp</a></td>
        <td></td>
        <td></td>
        <td><a class="btn btn-primary" rel="nofollow" data-method="post" href="/works/742/upvote">Upvote</a></td>
      </tr>
      <tr>
        <td>0</td>
        <td><a href="/works/746">What a girl wants</a></td>
        <td>Amanda Bynesss</td>
        <td></td>
        <td><a class="btn btn-primary" rel="nofollow" data-method="post" href="/works/746/upvote">Upvote</a></td>
      </tr>
      <tr>
        <td>0</td>
        <td><a href="/works/782">Big Friendship</a></td>
        <td></td>
        <td></td>
        <td><a class="btn btn-primary" rel="nofollow" data-method="post" href="/works/782/upvote">Upvote</a></td>
      </tr>
      <tr>
        <td>0</td>
        <td><a href="/works/783">A history of South Africa</a></td>
        <td></td>
        <td>2020</td>
        <td><a class="btn btn-primary" rel="nofollow" data-method="post" href="/works/783/upvote">Upvote</a></td>
      </tr>
      <tr>
        <td>0</td>
        <td><a href="/works/832">The Unforgiving</a></td>
        <td></td>
        <td></td>
        <td><a class="btn btn-primary" rel="nofollow" data-method="post" href="/works/832/upvote">Upvote</a></td>
      </tr>
      <tr>
        <td>0</td>
        <td><a href="/works/715">Great title here</a></td>
        <td>Great creator</td>
        <td>2020</td>
        <td><a class="btn btn-primary" rel="nofollow" data-method="post" href="/works/715/upvote">Upvote</a></td>
      </tr>
      <tr>
        <td>0</td>
        <td><a href="/works/726">East of Eden</a></td>
        <td>John Steinbeck</td>
        <td></td>
        <td><a class="btn btn-primary" rel="nofollow" data-method="post" href="/works/726/upvote">Upvote</a></td>
      </tr>
      <tr>
        <td>0</td>
        <td><a href="/works/738">Marocco</a></td>
        <td>hannah</td>
        <td>2020</td>
        <td><a class="btn btn-primary" rel="nofollow" data-method="post" href="/works/738/upvote">Upvote</a></td>
      </tr>
      <tr>
        <td>0</td>
        <td><a href="/works/749">Titanic</a></td>
        <td></td>
        <td></td>
        <td><a class="btn btn-primary" rel="nofollow" data-method="post" href="/works/749/upvote">Upvote</a></td>
      </tr>
      <tr>
        <td>0</td>
        <td><a href="/works/762">Romance of the 3 Kingdoms</a></td>
        <td></td>
        <td></td>
        <td><a class="btn btn-primary" rel="nofollow" data-method="post" href="/works/762/upvote">Upvote</a></td>
      </tr>
      <tr>
        <td>0</td>
        <td><a href="/works/836">Alice no pais das maravilhas</a></td>
        <td>Alice Boone</td>
        <td>2020</td>
        <td><a class="btn btn-primary" rel="nofollow" data-method="post" href="/works/836/upvote">Upvote</a></td>
      </tr>
      <tr>
        <td>0</td>
        <td><a href="/works/779">The Seven Husbands of Evelyn Hugo</a></td>
        <td></td>
        <td></td>
        <td><a class="btn btn-primary" rel="nofollow" data-method="post" href="/works/779/upvote">Upvote</a></td>
      </tr>
      <tr>
        <td>0</td>
        <td><a href="/works/874">I WANNA BE THE VERY BEST</a></td>
        <td></td>
        <td></td>
        <td><a class="btn btn-primary" rel="nofollow" data-method="post" href="/works/874/upvote">Upvote</a></td>
      </tr>
      <tr>
        <td>0</td>
        <td><a href="/works/852">test</a></td>
        <td>test</td>
        <td>0</td>
        <td><a class="btn btn-primary" rel="nofollow" data-method="post" href="/works/852/upvote">Upvote</a></td>
      </tr>
      <tr>
        <td>0</td>
        <td><a href="/works/807">The Life-Changing Magic of Tidying Up</a></td>
        <td>Marie Kondo</td>
        <td>2011</td>
        <td><a class="btn btn-primary" rel="nofollow" data-method="post" href="/works/807/upvote">Upvote</a></td>
      </tr>
      <tr>
        <td>0</td>
        <td><a href="/works/574">Summer Select</a></td>
        <td>Ms. Gwendolyn Ortiz</td>
        <td>1946</td>
        <td><a class="btn btn-primary" rel="nofollow" data-method="post" href="/works/574/upvote">Upvote</a></td>
      </tr>
      <tr>
        <td>0</td>
        <td><a href="/works/577">Green Forrester</a></td>
        <td>Raquel Hirthe</td>
        <td>1933</td>
        <td><a class="btn btn-primary" rel="nofollow" data-method="post" href="/works/577/upvote">Upvote</a></td>
      </tr>
      <tr>
        <td>0</td>
        <td><a href="/works/579">Red Pie</a></td>
        <td>Davon Kub</td>
        <td>1961</td>
        <td><a class="btn btn-primary" rel="nofollow" data-method="post" href="/works/579/upvote">Upvote</a></td>
      </tr>
      <tr>
        <td>0</td>
        <td><a href="/works/767">same book title as movie title</a></td>
        <td>test</td>
        <td></td>
        <td><a class="btn btn-primary" rel="nofollow" data-method="post" href="/works/767/upvote">Upvote</a></td>
      </tr>
      <tr>
        <td>0</td>
        <td><a href="/works/828">can i live all other fields blank? </a></td>
        <td></td>
        <td></td>
        <td><a class="btn btn-primary" rel="nofollow" data-method="post" href="/works/828/upvote">Upvote</a></td>
      </tr>
      <tr>
        <td>0</td>
        <td><a href="/works/682">Huggy Star </a></td>
        <td></td>
        <td></td>
        <td><a class="btn btn-primary" rel="nofollow" data-method="post" href="/works/682/upvote">Upvote</a></td>
      </tr>
      <tr>
        <td>0</td>
        <td><a href="/works/705">worm</a></td>
        <td>nena</td>
        <td>2020</td>
        <td><a class="btn btn-primary" rel="nofollow" data-method="post" href="/works/705/upvote">Upvote</a></td>
      </tr>
      </tbody>
    </table>
  </section>
  <section class="media-table">
    <h4>Movies</h4>
    <table class="table">
      <thead>
      <tr>
        <th width="80">Votes</th>
        <th>Title</th>
        <th>Created By</th>
        <th width="100">Published</th>
        <th width="100">Upvote</th>
      </tr>
      </thead>
      <tbody>
      <tr>
        <td>0</td>
        <td><a href="/works/876">sorry for the deletes</a></td>
        <td>was trying to test the media spotlight :( </td>
        <td></td>
        <td><a class="btn btn-primary" rel="nofollow" data-method="post" href="/works/876/upvote">Upvote</a></td>
      </tr>
      <tr>
        <td>0</td>
        <td><a href="/works/877">chao in space</a></td>
        <td>chaobi wan kenobi</td>
        <td>1998</td>
        <td><a class="btn btn-primary" rel="nofollow" data-method="post" href="/works/877/upvote">Upvote</a></td>
      </tr>
      </tbody>
    </table>
  </section>

  <a class="btn btn-secondary" href="/">View top media</a>
  <a class="btn btn-primary" href="/works/new">Add a new work</a>

</main>


