<h1>List of Works</h1>

<h3>Albums</h3>
<%= render partial: "table", locals: { category: @albums } %>

<h3>Books</h3>
<%= render partial: "table", locals: { category: @books } %>

<h3>Movies</h3>
<%= render partial: "table", locals: { category: @movies } %>
