<h1>Media</h1>

<%= link_to "New Media", new_work_path %>

<h2>Albums</h2>
<ul>
    <% @albums.each do |album| %>
        <li><%= link_to album.title, work_path(album) %></li>
    <% end %>
</ul>

<h2>Books</h2>
<ul>
    <% @books.each do |book| %>
        <li><%= link_to book.title, work_path(book) %></li>
    <% end %>
</ul>