<!--Html Outline from Inspector. Now Generalize-->

<main>
  <section class="spotlight">
    <h2 class="spotlight__header">
      <span class="spotlight__header--prefix">Media Spotlight</span>
      <a class="spotlight__link-to" href="/works/913">We're Doomed....</a> by
    </h2>
    <p class="spotlight__description">
      14 votes - Doooooomed.....
    </p>
  </section>

  <hr class="root__hr">

  <section class="top-ten__container">
    <section class="top-ten__list-container">
      <h2 class="top-ten__header">
        Top MOVIES/BOOKS/ALBUMS
      </h2>
      <ul class="list-group top-ten__list">
        <li class="list-group-item">
          <h4>
            <a href="/works/913">We're Doomed....</a>
            <small class="top-ten__creator">by </small>
          </h4>
          <p>14 votes</p>
        </li>
      </ul>
    </section>
  </section>
</main>