<section>
  <h1>List of Works</h1>
  <%# loop for the categories %>
    <section>
      <h2>Category Name Goes Here</h2>
      <table>
        <thead>
        <tr>
          <th>Votes</th>
          <th>Title</th>
          <th>Created By</th>
          <th>Published</th>
          <th>Upvotes</th>
        </tr>
        </thead>
        <tbody>
          <%# loop for the categories %>
            <tr>
              <td>total votes</td>
              <td>Media Title</td>
              <td>Created By</td>
              <td>Published Date</td>
              <td>Upvote button</td>
            </tr>
          <%# end category loop %>
        </tbody>
      </table>
    </section>
  <%# end category loop %>
</section>

