<h2>All Media</h2>

<%= render partial: "list", locals: { header: "Albums", works: @albums } %>

<%= render partial: "list", locals: { header: "Books", works: @books } %>

<%= render partial: "list", locals: { header: "Movies", works: @movies } %>
