<h2>Add a new work</h2>

<form>
  <div class="form-group">
    <label for="category_dropdown">Category</label>
    <select class="form-control" id="category">
      <option>album</option>
      <option>book</option>
      <option>movie</option>
    </select>
  <label for="exampleFormControlInput1">Title</label>
  <input type="text" class="form-control">
  <label for="exampleFormControlInput1">Creator</label>
  <input type="text" class="form-control">
  <label for="exampleFormControlInput1">Publication Year</label>
  <input type="text" class="form-control">
    <label for="exampleFormControlTextarea1">Description</label>
    <textarea class="form-control" id="exampleFormControlTextarea1" rows="2"></textarea>
  </div>
</form>

<button type="button" id="create_work" class="btn btn-link">Create Work</button>