<section class="alert__container">
  <% if @work.errors.any? %>
    <br>
    <div class="alert alert-warning">
      <span>A problem occurred: Could not create <%= @work.category %></span>
      <ul>
      <% @work.errors.each do |column, message| %>
        <li><%= column %>: <%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
</section>

<main>
<h3>Add a new work</h3>
<%= render partial: "form" %>
</main>