<!--<h1><%#= @work.title %></h1>-->

<!--<ul>-->
<!--  <li>Created by: <%#= @work.creator %></li>-->
<!--  <li>Published: <%#= @work.publication_year %> </li>-->
<!--  <li>Description:<%#= @work.description %></li>-->
<!--</ul>-->

<h1><%= @work.description %></h1>


