<h2><%= @work.title%></h2>
<section>
  <div class="work-info">
    <div>Created by:<%= @work.creator %></div>
    <div>Published:<%= @work.publication_year %></div>
    <div><%= @work.details %></div>

  </div>
</section>