<section>
  <h1>Work Title Goes Here</h1>
  <p>Created by: <%#= %> </p>
  <p>Published: <%#= %> </p>
  <p>description text goes here <%#= %> </p>
</section>
<section>
  <button>Back</button>
  <button>Edit</button>
  <button>Vote</button>
  <button>Delete</button>
  <%#= button_to "Back to media ranks", path goes here, {class: , method: } %>
  <%#= button_to "Edit", path goes here, {class: , method: } %>
  <%#= button_to "Upvote", path goes here, {class: , method: } %>
  <%#= button_to "Delete", path goes here, {class: , method: } %>
</section>
<section>
  <h2><%##= ___%> Votes for this <%#= category goes here%></h2>
  <table>
    <thead>
    <tr>
      <th>User</th>
      <th>Date</th>
    </tr>
    </thead>
    <tbody>
      <%# loop for the categories %>
        <tr>
          <td>User link <%#= link_to "#{username goes here}", path goes here(user id goes here)%></td>
          <td>Date <%#= date voted %></td>
        </tr>
      <%# end category loop %>
    </tbody>
  </table>
</section>
