<h1><%= @work.title %></h1>

<ul>
  <li>Created by: <%= @work.creator %></li>
  <li>Published: <%= @work.publication_year %> </li>
  <% unless @work.description.nil? %>
    <li><p>Description: <%= @work.description %></p></li>
  <% end %>
</ul>




