<div class="show-item">

<h2><%= @work.title %></h2>

<ul class="title-info">
  <li>Created by: <%= @work.creator %></li>
  <li>Published: <%= @work.publication_year %> </li>
  <% unless @work.description.nil? %>
    <li><p><%= @work.description %></p></li>
  <% end %>
</ul>
</div>




