<section>
  <h2>
    <span class="spotlight"> Media Spotlight: </span>
  <% top_work = Work.first %>
  <%= link_to top_work.title, work_path(top_work.id)%> by <%= top_work.creator %>
  </h2>
</section>