<h2>You are currently logged in as <%= @current_user.username %></h2>
<h2> The works you've voted for are:</h2>
<ul> <% @current_user.works.map {|w| w.title }.each do |w|%>
<li><%= w %></li>
<% end %>
</ul>