<main>
  <h2>List of Users</h2>
  <table class="table">
    <thead>
        <%= render partial: "table_headers", locals: { headers: %w[Username Votes Joined]}%>
    </thead>
    <tbody>
      <%@users.each do |user| %>
          <%= render partial: "table_data", locals: { data: [link_to(user.name, user_path(user)),
                                                             user.votes.count,
                                                             user.created_at.to_s(:short_date)]}%>
      <%end%>
  </table>
</main>