<h2>List of Users</h2>
<table>
    <tr>
        <th>Username</th>
        <th>Votes</th>
        <th>Joined</th>
    </tr>
    <tr>
    <% @users.each do |user| %>
        <tr>
            <td><%= link_to user.username, user_path(user) %></td>
            <td><%= user.vote_count %></td>
        </tr>
    <% end %>
</table>