<h2>List of Users</h2>

<section class="table-border"> 
  <article>
    <table class="list-table">
      <tr>
        <th>Username</th>
        <th>Votes</th>
        <th>Joined</th>
      </tr>  
      <% @users.order(joined: :desc).each do |user|  %>
        <tr>
          <th><%= link_to user.username, user_path(user) %></th>
          <th><%= user.each_user_votes(user) %></th>
          <th><%= user.joined %></th>
        </tr>  
      <% end %>
    </table>  
  </article> 
</section>

<section>
  <div>
    <p><%= button_to "Back to Media List", root_path, method: :get %></p>
  </div>
</section>  