<%= form_with model: @user, url: login_path do |f| %>
  <div class="login-form">
    <%= f.label :username %>
    <%= f.text_field :username %>
  </div>
  <%= f.submit "Log in", class:"btn btn-primary" %>
<% end %>