<main>
  <section>
    <h2>
      <%= "Usesr: #{@user.username}" %>
    </h2>
  </section>
  <div>
    <h3>
      Votes
    </h3>
    <ul>
      <% @user.votes_by_user.each do |vote| %>
        <li>
          <%= work_lookup(vote.work_id) %>
        </li>
      <% end %>

    </ul>
  </div>
</main>