<h2>User: <%= @user.username%></h2>

<div class="edit-delete">
  <p><%= link_to "Return to Work list", works_path %></p>
</div>

<!--<div class="content">-->
<!--  <p>Upvoted the following works:</p>-->
<!--  <table id="index-table">-->
<!--    <tr>-->
<!--      <th>Work</th>-->
<!--      <th>Work ID</th>-->
<!--      <th>Upvoted on</th>-->

<!--    </tr>-->
    <%# @works.each do |work| %>
      <%# if work.users.includes?(@user.username) %>
<!--        <tr>-->
<!--          <td>-->
            <%#= link_to "#{work.title}", work_path(work.id)%>
<!--          </td>-->
<!--          <td>-->
            <%#= work.id %>
<!--          </td>-->
<!--          <td>-->
<!--            #date of vote-->
<!--          </td>-->
<!--        </tr>-->
      <%# end %>
    <%#end %>
<!--  </table>-->
<!--</div>-->

