<h2><strong><%=@user.name %></strong></h2>

<section class="show_details">
  <div>
    ID:  <%=@user.id%>
    Votes: <%=@user.votes.count %>


  </div>
</section>

<!--<h3>Votes</h3>-->

<!--<div>-->
<!--  <table class="table">-->
<!--    <thead>-->
<!--    <tr>-->
<!--      <th>Work(s)</th>-->
<!--      <th>Vote(s)</th>-->
<!--      <th>Date</th>-->
<!--    </tr>-->
<!--    </thead>-->
<!--    <tbody>-->
<!--      <tr>-->
<!--        <td><%#=@user.work %></td>-->
<!--        <td><%#=@user.votes.count %></td>-->
<!--        <td><%#=@user.votes.created_at.to_date%></td>-->
<!--      </tr>-->
<!--    </tbody>-->
<!--  </table>-->
<!--</div>-->

<!--How to access users work vote data?-->
<!--# Render votes view partials info here?-->
