<header>
  <h1>
    <a class="">Media Ranker</a>
    <small>| Ranking the Best of Everything</small>
  </h1>
  <nav class="navigation">
    <ul class="nav">
      <li class="nav-item">
        <a class="nav-link" href="/works">View top media</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/works">View all media</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/works/new">Add a new work</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/users">View all users</a>
      </li>
    </ul>

    <ul class="nav">
      <li class="nav-item">
        <a class="btn btn-primary" data-method="post" href="/">Log Out</a>
      </li>
    </ul>
  </nav>
</header>