<h1><strong>Media Ranker</strong></h1>

<h3><strong>Spotlight</strong></h3>



<h3><strong>Top 10 Media</strong></h3>

<%#link_to # VIEW TOP MEDIA %>
<%#link_to # VIEW ALL MEDIA %>
<%#link_to # ADD A NEW WORK %>
<%#link_to # VIEW ALL USERS%>