<h1><strong>Media Ranker</strong></h1>


<%= render partial: "table", locals: { media: @spotlight, name: "Spotlight"} %>
<%= render partial: "table", locals: { media: @top_books, name: "Books" } %>
<%= render partial: "table", locals: { media: @top_albums, name: "Albums"} %>
<%= render partial: "table", locals: { media: @top_movies, name: "Movies" } %>
