<!--<h1>Work#edit</h1>-->
<!--<p>Find me in app/views/work/edit.html.erb</p>-->
<h2>Edit Work</h2>

<%= render partial: "form", locals: { action_name: "Edit" } %>

<%= button_to "Cancel", :back, method: :get, class: "cancel" %>
