<!--page-->
<section class="spotlight">
  <h2 class="spotlight__header">
    Media Spotlight
    <%= link_to "#{Work.spotlight.title}", work_path(Work.spotlight)%>
    <%= "by #{Work.spotlight.creator}" %>
  </h2>
<!--  <%#= Work.spotlight.votes.count %><p>votes, </p><%#= Work.spotlight.description %>-->

</section>

<hr>

<section class="top-ten__container">

<!--  album-->
  <section class="top-ten__list-container">
    <h2 class="album top-ten__header">Top Albums</h2>
    <ul>
      <li>
      </li>
    </ul>
    <p>votes</p>
  </section>

<!--  book-->
  <section class="top-ten__list-container">
    <h2 class="book top-ten__header">Top Books</h2>
    <ul>
      <li>
      </li>
    </ul>
    <p>votes</p>
  </section>

<!--  movie-->
  <section class="top-ten__list-container">
    <h2 class="movie top-ten__header">Top Movies</h2>
    <ul>
      <li>
      </li>
    </ul>
    <p>votes</p>
  </section>
</section>











