/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 */
      
/* Custom bootstrap variables must be set or imported *before* bootstrap. */
@import "bootstrap";

@import "**/*";

@import url('https://fonts.googleapis.com/css2?family=Gudea:wght@400;700&display=swap');

* {
  font-family: 'Gudea', sans-serif;
}

body {
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #212529;
  text-align: left;
  background-color: #fff;
}

article, aside, figcaption, figure, footer, header, hgroup, main, nav, section {
  display: block;
}

main {
  padding: 2rem;
  //display: block;
}

h1, h2, h3, h4, h5 {
  font-weight: bold;
  margin-top: 0;
  margin-bottom: 0.5rem;
  line-height: 1.2;
}

h2, h3, a {
  color: #26A69A;
}

h1 {
  font-size: 2.5rem;
}

h2 {
  font-size: 2rem;
}

h3 {
  font-size: 1.75rem;
}

h4 {
  font-size: 1.5rem;
  margin-block-start: 1.33em;
  margin-block-end: 1.33em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
}

span {
  color: #424242;
}

p {
  display: block;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  margin-top: 0;
  margin-bottom: 1rem;
}

small {
  font-size: 80%;
  font-weight: 400;
}

table {
  width: 100%;
  margin-bottom: 1rem;
  background-color: transparent;
  border-collapse: collapse;
  display: table;
  border-spacing: 2px;
  border-color: grey;
}

thead {
  display: table-header-group;
  vertical-align: middle;
  border-color: inherit;
}

tr {
  display: table-row;
  vertical-align: inherit;
  border-color: inherit;
}

table thead th {
  vertical-align: bottom;
  border-bottom: 2px solid #dee2e6;
}

table th, .table td {
  padding: 0.75rem;
  vertical-align: top;
  border-top: 1px solid #dee2e6;
}

ol, ul, dl {
  margin-top: 0;
  margin-bottom: 1rem;
}

ul {
  display: block;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  padding-inline-start: 40px;
}

.button {
  display: inline-block;
  font-weight: 400;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  border: 1px solid #26A69A;
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  line-height: 1.5;
  border-radius: 0.25rem;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  background-color: #26A69A;
  color: white;
}

a.button {
  color: white;
}

.button:hover, .button.delete:hover {
  background-color: #007a6b;
}

.button.btn-secondary {
  color: #fff;
  background-color: #6c757d;
  border-color: #6c757d;
}

.button.delete {
  background-color: #dc3545;
  border-color: #dc3545;
}

a:link, a:visited {
  text-decoration: none;
}

hr {
  margin-top: 1rem;
  margin-bottom: 1rem;
  border: 0;
  border-top: 1px solid rgba(0,0,0,0.1);
  height: 0;
  overflow: visible;
}

.homepage-hr {
  margin: 0px auto 3rem auto;
  color: #EEEEEE;
}

header {
  max-width: 100%;
  background-color: #B2DFDB;
  margin-bottom: 0.5rem;
  padding: 2rem 1rem 0.5rem 1rem;
}

header h1 {
  text-align: center;
  margin: 25px auto 40px auto;
}

header h1 a {
  color: #FF5722;
  padding-right: 25px;
  margin-right: 15px;
  border-right: white 2px solid;
}

header h1 a:hover {
  color: #FF5722;
}

header h1 small {
  color: white;
}

header nav.header-nav {
  display: flex;
  justify-content: space-between;
}

ul.nav {
  display: flex;
  flex-wrap: wrap;
  padding-left: 0;
  margin-bottom: 0;
  list-style: none;
}

ul.nav li {
  margin-right: 2rem;
  margin-top: 1rem;
}

ul.nav li a {
  color: #00796B;
  display: block;
  padding: 0.5rem 1rem;
}

ul#user li {
  margin-left: 2rem;
  margin-right: 0;
}

ul#user li a {
  color: white;
}

.spotlight {
  padding: 0 2rem 2rem 2rem;
}

.spotlight-title {
  border-bottom: 2px solid;
}

.spotlight-title:hover {
  text-decoration: none;
  color: #007a6b;
}

.top-ten {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-column-gap: 2em;
}

.top-ten-header {
  border-bottom: 2px solid;
  border-bottom-color: #B2DFDB;
}

.list-group {
  display: flex;
  flex-direction: column;
  padding-left: 0;
  margin-bottom: 0;
}

.list-group-item {
  border: none;
  position: relative;
  display: block;
  padding: 0.75rem 1.25rem;
  margin-bottom: -1px;
}

.list-group-item:first-child {
  border-top-left-radius: 0.25rem;
  border-top-right-radius: 0.25rem;
}

.top-ten-list-group {
  list-style-type: none;
  margin-left: 0;
  padding-left: 0;
}

.top-ten-creator {
  color: slategrey;
}

.votes {
  margin-top: 2rem;
}

.votes-header {
  color: black;
}

form {
  display: block;
  margin-top: 0em;
}

.form-item {
  margin-bottom: 1rem;
}

label {
  display: inline-block;
  margin-bottom: 0.5rem;
}

#work_category, #work_title, #work_creator, #work_publication_year, #work_description, #user_username {
  display: block;
  width: 100%;
  height: calc(2.25rem + 2px);
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  line-height: 1.5;
  color: #495057;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  border-radius: 0.25rem;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

textarea#work_description {
  height: auto;
}

.flash-msg__section {
  margin: 2rem 0 1rem 0;
}

.flash-alert {
  margin: 0;
  position: relative;
  padding: 0.75rem 1.25rem;
  margin-bottom: 1rem;
  border: 1px solid transparent;
  border-radius: 0.25rem;
}

.flash-msg__section .success {
  color: #155724;
  background-color: #d4edda;
  border-color: #c3e6cb;
}

.flash-msg__section .notice {
  color: #6a040f;
  background-color: #FCB0B8;
  border-color: #FB9DA6;
}