/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 */

/* Custom bootstrap variables must be set or imported *before* bootstrap. */
@import "bootstrap";

@import "**/*";
html {
    font-family: sans-serif;
    line-height: 1.15;
}
.app-header__header h1 a {
    color: #FF5722;
    padding-right: 25px;
    margin-right: 15px;
    border-right: white 2px solid;
}
.app-header__header {
    max-width: 100%;
    background-color: #B2DFDB;
    margin-bottom: 0.5rem;
    padding: 2rem 1rem 0.5rem 1rem;
}
a, h2, h3 {
    color: #26A69A;
}
a {
    color: #007bff;
    text-decoration: none;
    background-color: transparent;
    -webkit-text-decoration-skip: objects;
}

*, ::before, ::after {
    box-sizing: border-box;
}

.app-header__header h1 {
    text-align: center;
    margin: 25px auto 40px auto;
}

h1, h2, h3, h4, h5 {
    font-weight: bold;
}
body, h1, h2, h3, h4, h5 {
    font-family: "Gudea", sans-serif;
}
h1, .h1 {
    font-size: 2.5rem;
}
h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
    line-height: 1.2;
}

.app-header__nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.app-header__header h1 small {
    color: white;
}
small, .small {
    font-size: 80%;
    font-weight: 400;
}

.app-header__nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
body {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    text-align: left;
    background-color: #fff;
}

.spotlight {
    padding: 0 2rem 2rem 2rem;
}
.spotlight__header {
    color: #26A69A;
}
.spotlight__header--prefix {
    color: #424242;
}
.spotlight__header--prefix::after {
    content: ":";
}
.spotlight__link-to {
    border-bottom: 2px solid;
}
.spotlight__description {
    margin-bottom: 0;
}
p {
    margin-top: 0;
}
hr {
    box-sizing: content-box;
    height: 0;
    overflow: visible;
}
hr {
    margin-top: 1rem;
    margin-bottom: 1rem;
    border: 0;
    border-top: 1px solid rgba(0,0,0,0.1);
}
.root__hr {
    margin: 0px auto 3rem auto;
    color: #EEEEEE;
}
.top-ten__container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-column-gap: 2em;
}
section {
    display: block;
}
:root {
    --blue: #007bff;
    --indigo: #6610f2;
    --purple: #6f42c1;
    --pink: #e83e8c;
    --red: #dc3545;
    --orange: #fd7e14;
    --yellow: #ffc107;
    --green: #28a745;
    --teal: #20c997;
    --cyan: #17a2b8;
    --white: #fff;
    --gray: #6c757d;
    --gray-dark: #343a40;
    --primary: #007bff;
    --secondary: #6c757d;
    --success: #28a745;
    --info: #17a2b8;
    --warning: #ffc107;
    --danger: #dc3545;
    --light: #f8f9fa;
    --dark: #343a40;
    --breakpoint-xs: 0;
    --breakpoint-sm: 576px;
    --breakpoint-md: 768px;
    --breakpoint-lg: 992px;
    --breakpoint-xl: 1200px;
    --font-family-sans-serif: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    --font-family-monospace: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
}