/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 */

/* Custom bootstrap variables must be set or imported *before* bootstrap. */
@import "bootstrap";

@import "**/*";

body {
  text-align: center;
}

header {
  background-color: #83d7c6;
  padding: 40px;
}

header h1 {
  color: white;
  //font-size: 65px;
}

header strong {
  color: #c82333;
}

header h2 {
  color: #e4606d;
}

header .link {
  padding: 20px;
  color: teal;
}

.link {
  color: #8fd19e;
}
//why is css so complicated!!!
//section {
//  display: grid;
//
//}

//section .col-1 {
//  float: left;
//}
//
//section .col-2 {
//  float: middle;
//}

div ul {
  font-size: larger;
  width: max-content;
}

div h1 {
  width: max-content;
  padding-left: 65px;
  padding-top: 30px;
}


.col-1 {
  display: inline-block;
  float: left;

}

.col-2 {
  display: inline-block;

}

.col-3 {
  display: inline-block;
  float: right;

}



