/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 */

/* Custom bootstrap variables must be set or imported *before* bootstrap. */
@import "bootstrap";

@import "**/*";

body, h1, h2, h3, h4, h5 {
  font-family: "Gudea", sans-serif;
}
main {
  padding: 2rem;
}
a, h2, h3 {
  color: #26A69A;
}
a:hover {
  color: #00796B;
  text-decoration: none;
}
h1, h2, h3, h4, h5 {
  font-weight: bold;
}
section {
  display: block;
}

.app-header__header {
  max-width: 100%;
  background-color: #B2DFDB;
  margin-bottom: 0.5rem;
  padding: 2rem 1rem 0.5rem 1rem;
}
.app-header__header h1 {
  text-align: center;
  margin: 25px auto 40px auto;
}
.app-header__header h1 a {
  color: #FF5722;
  padding-right: 25px;
  margin-right: 15px;
  border-right: white 2px solid;
}
.app-header__header h1 small {
  color: white;
}
.app-header__header p {
  margin-bottom: 5px;
}

.app-header__nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.app-header__nav_item {
  margin-top: 1rem;
}
.app-header__nav_item .nav-link {
  color: #00796B;
}
.app-header__site-nav-container .app-header__nav_item {
  margin-right: 2rem;
}
.app-header__user-nav-container .nav-item {
  margin-left: 2rem;
}

.btn-primary {
  background-color: #26A69A;
  color: white;
  border-color: #26A69A;
}
.btn:hover {
  background-color: #00796B;
  color: white;
}

.spotlight {
  padding: 0 2rem 2rem 2rem;
}
.spotlight__header {
  color: #26A69A;
}
.spotlight__header--prefix {
  color: #424242;
}
.spotlight__link-to {
  border-bottom: 2px solid;
}
.spotlight__description {
  margin-bottom: 0;
}

.top-ten__container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-column-gap: 2em;
}
.top-ten__header {
  color: #26A69A;
  border-bottom: 2px solid;
  border-bottom-color: #B2DFDB;
}
.top-ten__list {
  list-style-type: none;
  margin-left: 0;
  padding-left: 0;
}
.top-ten__creator {
  color: slategrey;
}
.list-group {
  display: flex;
  flex-direction: column;
  padding-left: 0;
  margin-bottom: 0;
  border: none;
}
.list-group-item {
  position: relative;
  display: block;
  padding: 0.75rem 1.25rem;
  margin-bottom: -1px;
  background-color: #fff;
}

table {
  border-collapse: collapse;
}
.table {
  width: 100%;
  margin-bottom: 1rem;
  background-color: transparent;
}
.table th, .table td {
  padding: 0.75rem;
  vertical-align: top;
  border-top: 1px solid #dee2e6;
}
.table thead th {
  vertical-align: bottom;
  border-bottom: 2px solid #dee2e6;
}
.table tbody+tbody {
  border-top: 2px solid #dee2e6;
}
.table .table {
  background-color: #fff;
}

.form-group {
  margin-bottom: 1rem;
}
.form-control {
  display: block;
  width: 100%;
  height: calc(2.25rem + 2px);
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  line-height: 1.5;
  color: #495057;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  border-radius: 0.25rem;
  transition:border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.btn-danger {
  color: #fff;
  background-color: #dc3545;
  border-color: #dc3545;
}
.btn-danger:hover {
  color: #fff;
  background-color: #c82333;
  border-color: #bd2130;
}
.works-votes__container, .user-votes__container {
  margin-top: 2rem;
}
.works-votes__header, .user-votes__header {
  color: black;
}

.btn-secondary {
  color: #fff;
  background-color: #6c757d;
  border-color: #6c757d;
}
.btn-secondary:hover {
  color: #fff;
  background-color: #5a6268;
  border-color: #545b62;
}

.alert__container {
  margin: 2rem 0 1rem 0;
}
.alert {
  position: relative;
  padding: 0.75rem 1.25rem;
  margin-bottom: 1rem;
  border: 1px solid transparent;
  border-radius: 0.25rem;
}
.alert-success {
  color: #155724;
  background-color: #d4edda;
  border-color: #c3e6cb;
}
.alert-danger {
  color: #721c24;
  background-color: #f8d7da;
  border-color: #f5c6cb;
}
.alert-warning {
  color: #856404;
  background-color: #fff3cd;
  border-color: #ffeeba;
}