/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 */

/* Custom bootstrap variables must be set or imported *before* bootstrap. */
@import "bootstrap";

@import "**/*";

*,
*::before,
*::after {
  box-sizing:border-box
}
html {
  font-family:sans-serif;
  line-height:1.15;
  -webkit-text-size-adjust:100%;
  -ms-text-size-adjust:100%;
  -ms-overflow-style:scrollbar;
  -webkit-tap-highlight-color:transparent
}
@-ms-viewport {
  width:device-width
}
article,
aside,
figcaption,
figure,
footer,
header,
hgroup,
main,
nav,
section {
  display:block
}

body {
  margin:0;
  font-family:-apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  font-size:1rem;
  font-weight:400;
  line-height:1.5;
  color:#212529;
  text-align:left;
  background-color:#fff;
}

//body, h1, h2, h3, h4, h5 {
//  font-family: "Gudea", sans-serif;
//}

h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
  font-family: inherit;
  line-height: 1.2;
  color: inherit;
  font-weight: bold;
}

h1 {
  font-size: 2.5rem;
}

a, h2, h3 {
  color: #26A69A;
}

.app-header__header {
  max-width: 100%;
  background-color: #B2DFDB;
  margin-bottom: 0.5rem;
  padding: 2rem 1rem 0.5rem 1rem;
}

.app-header__header h1 {
  text-align: center;
}

.app-header__header h1 small {
  color: white;
}

.app-header__header h1 a {
  color: #FF5722;
  padding-right: 25px;
  margin-right: 15px;
  border-right: white 2px solid;
}

.app-header__nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.app-header__nav_item, .nav-link {
  color: #00796B;
}

small, .small {
  font-size: 80%;
  font-weight: 400;
}

article, aside, figcaption, figure, footer, header, hgroup, main, nav, section {
  display: block;
}

a:hover {
  color: #00796B;
  text-decoration: none;
}

.btn:not(:disabled):not(.disabled) {
  cursor: pointer;
}

.btn:hover {
  background-color: #00796B;
  color: white;
}

.btn-primary:hover {
  border-color: #0062cc;
}

.btn-primary {
  background-color: #26A69A;
  color: white;
  border-color: #26A69A;
}

.btn-secondary {
  margin: 0 5px;
}

.btn:hover, .btn:focus {
  text-decoration: none;
}

.btn {
  display: inline-block;
  font-weight: 400;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  border: 1px solid transparent;
  border-top-color: transparent;
  border-right-color: transparent;
  border-bottom-color: transparent;
  border-left-color: transparent;
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  line-height: 1.5;
  border-radius: 0.25rem;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.alert {
  position: relative;
  padding: 0.75rem 1.25rem;
  margin-bottom: 1rem;
  border: 1px solid transparent;
  border-top-color: transparent;
  border-right-color: transparent;
  border-bottom-color: transparent;
  border-left-color: transparent;
  border-radius: 0.25rem;
}

.alert-error, .alert-notice {
  color: #856404;
  background-color: #fff3cd;
  border-color: #ffeeba;
}

.alert-success, .alert-welcome {
  color: #155724;
  background-color: #d4edda;
  border-color: #c3e6cb;
}

.alert {
  margin: 0;
}

main {
  padding: 2rem;
}