// Place all the styles related to the Homepages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

.spotlight {
  padding: 0 2rem 2rem 2rem;
}

.spotlight-title {
  border-bottom: 2px solid;
}

.spotlight-title:hover {
  text-decoration: none;
  color: #007a6b;
}

.top-ten {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-column-gap: 2em;
}

.top-ten-header {
  border-bottom: 2px solid;
  border-bottom-color: #B2DFDB;
}

.top-ten__header {
  color: #26A69A;
  border-bottom: 2px solid;
  border-bottom-color: currentcolor;
  border-bottom-color: #B2DFDB;
}

.top-ten-list-group {
  list-style-type: none;
  margin-left: 0;
  padding-left: 0;
}

.top-ten-creator {
  color: slategrey;
}

#leftbox {
  float:left;
  width:30%;
  height:280px;
  margin-left: 3%;
}
#middlebox{
  float:left;
  width:30%;
  height:280px;
  margin-left: 2%;
  margin-right: 2%;
}
#rightbox{
  float:right;
  width:30%;
  height:280px;
  margin-right: 3%;
}