// Place all the styles related to the Homepages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
.largest-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-column-gap: 2em;
}

.top-ten-header {
  color: #26A69A;
  border-bottom: 2px solid;
  border-bottom-color: #B2DFDB;
  font-size: 2rem;
  line-height: 1.2;
  margin-top: 0;
  font-weight: bold;
}

.top-ten-list {
  list-style-type: none;
  margin-left: 0;
  padding-left: 0;
}

.list-group-item:last-child {
  margin-bottom: 0;

}

.list-group-item {
  display: block;
  padding: 0.75rem 1.25rem;
  margin-bottom: -1px;
  background-color: #fff;
  font-size: 20px;
  font-weight: bold;
  color: #26A69A;
  border: 0;
}


body {
  margin: 0;
  font-size: 1rem;
  line-height: 1.5;
  color: #212529;
  text-align: left;
  background-color: #fff;
  font-family: "Gudea", sans-serif;
}

.spotlight_description {
  margin-bottom: 0;
}

.spotlight {
  padding: 0 2rem 2rem 2rem;
}
* {
  font-family: "Gudea", sans-serif;
}

.creator {
  color: slategrey;
}

.media {
  color: #424242;
  display: inline;
}

