//// Place all the styles related to the Works controller here.
//// They will automatically be included in application.css.
//// You can use Sass (SCSS) here: https://sass-lang.com/
//
//.works-votes__container {
//  margin-top: 2rem;
//}
//
//@media (min-width: 576px) {
//  .form-inline label {
//    display:flex;
//    align-items:center;
//    justify-content:center;
//    margin-bottom:0
//  }
//  .form-inline .form-group {
//    display:flex;
//    flex:0 0 auto;
//    flex-flow:row wrap;
//    align-items:center;
//    margin-bottom:0
//  }
//  .form-inline .form-control {
//    display:inline-block;
//    width:auto;
//    vertical-align:middle
//  }
//  .form-inline .form-control-plaintext {
//    display:inline-block
//  }
//  .form-inline .input-group,
//  .form-inline .custom-select {
//    width:auto
//  }
//  .form-inline .form-check {
//    display:flex;
//    align-items:center;
//    justify-content:center;
//    width:auto;
//    padding-left:0
//  }
//  .form-inline .form-check-input {
//    position:relative;
//    margin-top:0;
//    margin-right:0.25rem;
//    margin-left:0
//  }
//  .form-inline .custom-control {
//    align-items:center;
//    justify-content:center
//  }
//  .form-inline .custom-control-label {
//    margin-bottom:0
//  }
//}
//
//table {
//  width: 100%;
//  margin-bottom: 1rem;
//  background-color: transparent;
//  border-collapse: collapse;
//  display: table;
//  border-spacing: 2px;
//  border-color: grey;
//}
//
//thead {
//  display: table-header-group;
//  vertical-align: middle;
//  border-color: inherit;
//}
//
//tr {
//  display: table-row;
//  vertical-align: inherit;
//  border-color: inherit;
//}
//
//th {
//  display: table-cell;
//  vertical-align: inherit;
//  font-weight: bold;
//  text-align: -internal-center;
//}
//
//table thead th {
//  vertical-align: bottom;
//  border-bottom: 2px solid #dee2e6;
//}
//
//table td {
//  vertical-align: middle;
//}
//
//table th, table td {
//  padding: 0.75rem;
//  border-top: 1px solid #dee2e6;
//  vertical-align: middle !important;
//}
//
//
//.form-control {
//  display:block;
//  width:100%;
//  height:calc(2.25rem + 2px);
//  padding:0.375rem 0.75rem;
//  font-size:1rem;
//  line-height:1.5;
//  color:#495057;
//  background-color:#fff;
//  background-clip:padding-box;
//  border:1px solid #ced4da;
//  border-radius:0.25rem;
//  transition:border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out
//}
//
//form {
//  display: block;
//  margin-top: 0em;
//}
//
//.form-item {
//  margin-bottom: 1rem;
//}